<ion-card>

  <ion-card-header>
    <div class="title" float-start>
        Location {{locationNumber}}
    </div>
    <div float-end>
      <button ion-button type="button" color="danger" clear small icon-only (click)="deleteLocation()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </div>
  </ion-card-header>

  <ion-card-content>

    <ion-list>
    
      <ion-item>
        <ion-label stacked>Site</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Room</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Door</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    
    </ion-list>

  </ion-card-content>

</ion-card>